# dependencies
node_modules/

# environment variables
.env

# logs
logs
*.log

# OS files
.DS_Store

# build (if you add frontend later)
dist/
build/

# optional
coverage/# dependencies
node_modules/

# environment variables
.env

# logs
logs
*.log

# OS files
.DS_Store

# build (if you add frontend later)
dist/
build/

# optional
coverage/